
/* Error */ .chroma .err { color: #24292e }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; width: auto; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbers */ .chroma .lnt, .chroma .ln { cursor: default;text-align: right;width: 1%;min-width: 50px; padding-right: 10px;color: rgba(27,31,35,.3); }
/* LineNumbers */ .chroma .lnt:hover, .chroma .ln:hover { color: rgba(27,31,35,.6); }
/* Keyword */ .chroma .k { color: #a90d91 }
/* KeywordConstant */ .chroma .kc { color: #a90d91 }
/* KeywordDeclaration */ .chroma .kd { color: #a90d91 }
/* KeywordNamespace */ .chroma .kn { color: #a90d91 }
/* KeywordPseudo */ .chroma .kp { color: #a90d91 }
/* KeywordReserved */ .chroma .kr { color: #a90d91 }
/* KeywordType */ .chroma .kt { color: #a90d91 }
/* Name */ .chroma .n { color: hsl(210, 12%, 16%) }
/* NameAttribute */ .chroma .na { color: #836c28 }
/* NameBuiltin */ .chroma .nb { color: #a90d91 }
/* NameBuiltinPseudo */ .chroma .bp { color: #5b269a }
/* NameClass */ .chroma .nc { color: #3f6e75 }
/* NameConstant */ .chroma .no { color: #24292e }
/* NameDecorator */ .chroma .nd { color: #24292e }
/* NameEntity */ .chroma .ni { color: #24292e }
/* NameException */ .chroma .ne { color: #24292e }
/* NameFunction */ .chroma .nf { color: #24292e }
/* NameFunctionMagic */ .chroma .fm { color: #24292e }
/* NameLabel */ .chroma .nl { color: #24292e }
/* NameNamespace */ .chroma .nn { color: #24292e }
/* NameOther */ .chroma .nx { color: #24292e }
/* NameProperty */ .chroma .py { color: #24292e }
/* NameTag */ .chroma .nt { color: #24292e }
/* NameVariable */ .chroma .nv { color: #24292e }
/* NameVariableClass */ .chroma .vc { color: #24292e }
/* NameVariableGlobal */ .chroma .vg { color: #24292e }
/* NameVariableInstance */ .chroma .vi { color: #24292e }
/* NameVariableMagic */ .chroma .vm { color: #24292e }
/* Literal */ .chroma .l { color: #1c01ce }
/* LiteralDate */ .chroma .ld { color: #1c01ce }
/* LiteralString */ .chroma .s { color: #c41a16 }
/* LiteralStringAffix */ .chroma .sa { color: #c41a16 }
/* LiteralStringBacktick */ .chroma .sb { color: #c41a16 }
/* LiteralStringChar */ .chroma .sc { color: #2300ce }
/* LiteralStringDelimiter */ .chroma .dl { color: #c41a16 }
/* LiteralStringDoc */ .chroma .sd { color: #c41a16 }
/* LiteralStringDouble */ .chroma .s2 { color: #c41a16 }
/* LiteralStringEscape */ .chroma .se { color: #c41a16 }
/* LiteralStringHeredoc */ .chroma .sh { color: #c41a16 }
/* LiteralStringInterpol */ .chroma .si { color: #c41a16 }
/* LiteralStringOther */ .chroma .sx { color: #c41a16 }
/* LiteralStringRegex */ .chroma .sr { color: #c41a16 }
/* LiteralStringSingle */ .chroma .s1 { color: #c41a16 }
/* LiteralStringSymbol */ .chroma .ss { color: #c41a16 }
/* LiteralNumber */ .chroma .m { color: #1c01ce }
/* LiteralNumberBin */ .chroma .mb { color: #1c01ce }
/* LiteralNumberFloat */ .chroma .mf { color: #1c01ce }
/* LiteralNumberHex */ .chroma .mh { color: #1c01ce }
/* LiteralNumberInteger */ .chroma .mi { color: #1c01ce }
/* LiteralNumberIntegerLong */ .chroma .il { color: #1c01ce }
/* LiteralNumberOct */ .chroma .mo { color: #1c01ce }
/* Operator */ .chroma .o { color: #24292e }
/* OperatorWord */ .chroma .ow { color: #24292e }
/* Comment */ .chroma .c { color: #177500 }
/* CommentHashbang */ .chroma .ch { color: #177500 }
/* CommentMultiline */ .chroma .cm { color: #177500 }
/* CommentSingle */ .chroma .c1 { color: #177500 }
/* CommentSpecial */ .chroma .cs { color: #177500 }
/* CommentPreproc */ .chroma .cp { color: #633820 }
/* CommentPreprocFile */ .chroma .cpf { color: #633820 }
