{{ define "main" }}
<h1>{{ .Title | htmlEscape | safeHTML }}</h1>
<article class="markdown-body">
    <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
    {{.Content}}
    <div>
        <!-- Ranges through content/posts/*.md -->
        <ul class="note-list">
        {{ range .Pages }}
          <li>
            <a class="note" href="{{ .RelPermalink }}">
                <p class="note-title">{{ .Title | htmlEscape | safeHTML }}</p>
                <p><span>{{ .Date.Format "2006-01-02" }}</span>
                  {{ range .Params.categories }}
                    <object><a class="article-label" href="/categories/{{ . | urlize }}/">{{ . }}</a></object>
                  {{ end }}
                  {{ range .Params.tags }}
                    <object><a class="article-tag" href="/tags/{{ . | urlize }}/">{{ . }}</a></object>
                  {{ end }}
                </p>
                <p class="note-content">{{ .Plain | safeHTML | truncate 140 }}</p>
                {{ if .Params.img }}
                  <figure>
                    {{ $imgurl := lower .Params.img }}
                    {{ if and (not (hasPrefix $imgurl "http://")) (not (hasPrefix $imgurl "https://")) }}
                    {{ $imgurl = path.Join .RelPermalink .Params.img }}
                    {{ end }}
                    <img width=100% src="{{ $imgurl | relURL }}">
                  </figure>
                {{ end }}
            </a>
          </li>
        {{ end }}
        </ul>
    </div>
</article>
{{ end }}

