{{ define "main" }}
  {{ $justify := false }}
  {{ if and (isset .Params "justify") (eq .Params.justify true) }} {{ $justify = true }} {{ end }}

  <section class="article-header" {{ if $justify }}style="text-align: justify;"{{ end }}>
      <h1>{{ .Title }}</h1>
      <p class="article-date">{{ .Date.Format "2006-01-02" }}</p>
  </section>

  <article class="markdown-body" {{ if $justify }}style="text-align: justify;"{{ end }}>
    {{ .Content }}
  </article>
  {{ if or .Params.categories .Params.tags }}
    <section class="article-labels">
      {{ range .Params.categories }}
            {{ $url := print "/categories/" (. | urlize) "/" }}
            <a class="article-category" href={{ $url | relURL }}>{{ . }}</a>
          {{ end }}
          {{ range .Params.tags }}
            {{ $url := print "/tags/" ( . | urlize) "/" }}
            <a class="article-tag" href={{ $url | relURL }}>{{ . }}</a>
          {{ end }}
    </section>
  {{ end }}

  {{ $license := ""}}
  {{ if and (isset .Params "license") (ne .Params.license "") }}
    {{ $license = .Params.license }}
  {{ else if and (isset .Site.Params "license") (ne .Site.Params.license "") }}
    {{ $license = .Site.Params.license }}
  {{ end }}

  {{ if ne $license "" }}
    <section class="article-license">
      <p>{{ $license | htmlUnescape }}</p>
    </section>
  {{ end }}

  {{ if or .PrevInSection .NextInSection }}
    <section class="article-navigation">
      <ul>
        {{ with .NextInSection }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ range .Params.categories }}
              {{ $url := print "/categories/" (. | urlize) "/" }}
              <a class="article-category" href={{ $url | relURL }}>{{ . }}</a>
          {{ end }}
          {{ range .Params.tags }}
              {{ $url := print "/tags/" ( . | urlize) "/" }}
              <a class="article-tag" href={{ $url | relURL }}>{{ . }}</a>
          {{ end }}
        </li>
        {{end}}

        {{ with .PrevInSection }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ range .Params.categories }}
                {{ $url := print "/categories/" (. | urlize) "/" }}
                <a class="article-category" href={{ $url | relURL }}>{{ . }}</a>
            {{ end }}
            {{ range .Params.tags }}
                {{ $url := print "/tags/" ( . | urlize) "/" }}
                <a class="article-tag" href={{ $url | relURL }}>{{ . }}</a>
            {{ end }}
          </li>
        {{end}}
      </ul>
    </section>
  {{ end }}

  {{ if and .Params.comments (gt (len .Site.DisqusShortname) 0) }}
    <section class="article-discussion">
      {{ template "_internal/disqus.html" . }}
    </section>
  {{ end }}

{{ end }}
