body {
  color: rgba(255,255,255,.85);
  background-color: #1f1f24;
}

mark,
::selection {
  background-color: #515b70;
}

.note,
.site.name {
  color: rgba(255,255,255,.85);
}

.site.slogan .title,
.note.date,
.article.date,
.image-container .title,
.footer {
  color: #92a1b1;
}

.note.content,
.article.markdown-body {
  color: rgba(255,255,255,.85);
}

code,
kbd,
tt,
samp {
  color: #f7a4ec;
}

pre {
  background-color: #1f1f24;
}

a {
  color: #82aaff;
}

.pagination ul li a {
  color: #82aaff;
}

.pagination ul li a.active {
  background-color: #82aaff;
}

.pagination ul li a:hover:not(.active) {
  background-color: rgba(130, 170, 255, .5);
}

.tag {
  color: #ff757f;
  background-color: rgba(227,231,235,.08);
}

.category {
  color: rgba(255,255,255,.85);
  background-color: #8a4a4a;
}

.note.list .item>a:hover,
.nav.item:hover {
  background-color: rgba(227,231,235,.15);
}

/* border color */
pre,
.note.imgs .img,
.image-container,
.article.markdown-body table td,
.article.markdown-body table th,
.article.markdown-body .lntable {
  border-color: #3e3f44;
}

.article.markdown-body h1,
.article.markdown-body h2,
.site.slogan .title,
.note.list .item {
  border-bottom-color: #3e3f44;
}

.article.markdown-body blockquote {
  border-left-color: #5182ce;
  background-color: rgba(81, 130, 206, .08);
}

.image-container {
  background-color: rgba(229, 239, 249, .02)
}

.article.discussion {
  border-top-color: #3e3f44;
  border-bottom-color: #3e3f44;
}

.article.markdown-body .lntable tr>:first-child {
  border-right-color: #3e3f44;
}