body {
  background-color: #1c1c1e;
}

mark {
  background-color: rgba(25, 255, 156, .2);
}

body,
pre,
b,
strong,
.note-title,
.article-navigation .link,
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6,
.markdown-body blockquote,
.markdown-body q,
.markdown-body table th,
.markdown-body .katex,
.markdown-body .katex-display,
.markdown-body .MathJax,
.markdown-body .MathJax_Display {
  color: #ebebf5;
}

.markdown-body {
  color: rgba(235, 235, 245, .6);
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom-color: rgba(84, 84, 88, .6);
}

code,
kbd,
tt,
samp {
  color: #dc4168;
  background-color: rgba(220, 65, 104, .05);
}

pre,
.note-imgs>img,
.markdown-body .image-container .img,
.markdown-body figure>img,
.markdown-body table td,
.markdown-body table th {
  border-color: rgba(84, 84, 88, .6);
}

a {
  color: #0a84ff;
}

.site-tag {
  color: #f13f0e;
  background-color: rgba(241, 63, 14, .05);
}

.site-tag:hover,
.site-tag:focus,
.site-tag:active {
  text-decoration: none;
  background-color: rgba(241, 63, 14, .5);
}

.pagination ul li a {
  color: #0a84ff;
}

.pagination ul li a.active {
  background-color: #0a84ff;
}

.pagination ul li a:hover:not(.active) {
  background-color: rgba(10, 132, 255, .5);
}

.article-tag {
  background-color: rgba(10, 132, 255, .05);
}

.article-tag:hover,
.article-tag:focus,
.article-tag:active {
  background-color: rgba(10, 132, 255, .5);
}

.article-category {
  color: #16d028;
  background-color: rgba(22, 208, 40, .05);
}

.article-category:hover,
.article-category:focus,
.article-category:active {
  background-color: rgba(114, 240, 126, .5);
}

.note-list li {
  border-bottom-color: rgba(84, 84, 88, .6);
}

.markdown-body .image-container .caption .title,
.markdown-body figcaption>h4 {
  border-bottom-color: rgba(84, 84, 88, .6);
}

.article-discussion {
  border-top-color: rgba(84, 84, 88, .6);
  border-bottom-color: rgba(84, 84, 88, .6);
}