:root {
  color-scheme: light dark;
  supported-color-schemes: light dark;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, SimHei, 'Segoe UI', Roboto, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 17px;
  font-weight: 400;
  line-height: 1.7;
}
body {
  display: block;
  color: #303033;
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
  word-wrap: break-word;

  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  padding-top: constant(safe-area-inset-top);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-left: constant(safe-area-inset-left);

  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.3;
  margin-block-start: 0;
  margin-block-end: 0;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

ol,
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;

  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

li + li {
  margin-top: 4px;
}
li > :first-child {
  margin-top: 0;
}
li > :last-child {
  margin-bottom: 0;
}

blockquote,
q {
  quotes: none;
  margin: 0;
}
blockquote {
  margin-bottom: 10px;
  padding: 10px;
  border-left: 2px solid #c6c6cc;
}

img {
  max-width: 100%;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

mark {
  background-color: yellow;
  color: inherit;
}

code,
pre,
tt,
kbd,
samp {
  font-family: 'Source Code Pro', Menlo, Consolas, 'Liberation Mono', monospace;
  font-weight: 500;
}

pre {
  display: block;
  overflow: auto;
  font-size: 13.6px;
  line-height: 1.45;
  color: #303033;
  padding: 12px 10px;
  margin: 8px 0;
  word-wrap: normal;
  white-space: pre;
  border-radius: 3px;
  border: 1px solid #eee;
  -o-tab-size: 4;
  -moz-tab-size: 4;
  tab-size: 4;
}

code,
kbd,
tt,
samp {
  display: inline;
  font-size: 15px;
  padding: 2px 4px;
  border-radius: 3px;
  color: #c7254e;
  background-color: rgba(199,37,78,.05);
}

kbd {
  display: inline-block;
  color: #303033;
  background-color: #eee;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  line-height: 1;
}
kbd + kbd {
  margin-left: 4px;
}

pre > code,
pre > kbd,
pre > tt,
pre > samp {
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  padding: 0;
  border: 0;
  border-radius: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
td, th {
  padding: 0;
}

a {
  color: #0366d6;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-decoration-skip: objects;
  -moz-text-decoration-skip: objects;
  text-decoration-skip: objects;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

figcaption > h4,
.markdown-body .image-container .caption .title {
  display: inline-block;
  color: #969696 !important;
  font-size: 14px;
  font-weight: 400;
}

svg {
  max-width: 100%;
}

del {
  opacity: 0.5;
}

abbr,
acronym {
  cursor: help;
}

b,
strong {
  color: #303033;
  font-weight: 600;
}

.max-width {
  max-width: 730px;
}
.max-body-width {
  padding-left: 20px;
  padding-right: 20px;
}

.base-body {
  display: block;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header p {
  margin: 0;
  line-height: 1;
}

.nav {
  margin: 20px 0;
}
.nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.nav li {
  display: inline-block;
}

.site-name {
  display: inline-block;
  font-weight: 600;
  vertical-align: middle;
}
.home:hover,
.home:focus,
.home:active {
  opacity: 0.5;
  text-decoration: none;
}

.site-logo {
  height: 42px;
  vertical-align: middle;
}
.site-slogan {
  display: inline-block;
  font-size: 85%;
  color: #8e8e93;
  margin-left: 12px;
  vertical-align: middle;
}

.site-tag {
  display: inline-block;
  padding: 2px 10px;
  margin: 0 12px 12px 0;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  color: #f25022;
  background-color: rgba(242,80,34,.05);
  border-radius: 3px;
}
.site-tag:hover,
.site-tag:focus,
.site-tag:active {
  text-decoration: none;
  background-color: rgba(242,80,34,.1);
}

.flex-body {
  margin: 0 auto;
  padding-bottom: 20px;
}

.footer {
  text-align: center;
  font-size: 12px;
  color: #8e8e93;
  margin: 40px 0 20px 0;
}
.footer p {
  margin: 0;
}

.note-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.note-list li {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 8px 0;
  border-bottom: 1px solid #f0f0f0;
  word-wrap: break-word;
}
.note-list li:last-child {
  border: 0 !important;
}

.note {
  display: block;
  color: #8e8e93;
  text-decoration: none;
}
.note:hover,
.note:focus,
.note:active {
  opacity: .5;
  text-decoration: none;
}

.note-title {
  font-size: 17px;
  font-weight: 600;
  color: #303033;
}
.note-date,
.note-content {
  font-size: 15px;
}
.note-content,
.note-imgs,
.note-labels {
  margin-top: 4px;
}
.note-imgs {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  margin: 4px 0 0 0;
  overflow: auto;
}
.note-imgs > img {
  object-fit: cover;
  height: 80px;
  min-width: 80px;
  max-width: 120px;
  border-radius: 4px;
  border: 1px solid #eee;
  margin: 0 5px 0 0;
}
.note-imgs > img:last-child {
  margin: 0;
}

.article-date {
  font-size: 14px;
  color: #8e8e93;
  margin-top: 20px;
}
.article-tag,
.article-category {
  display: inline-block;
  font-size: 15px;
  line-height: 1;
  padding: 4px 6px;
  margin: 2px 3px 2px 0;
  white-space: nowrap;
  border-radius: 3px;
}
.article-tag {
  background-color: rgba(3,102,214,.05);
}
.article-category {
  color: #28a745;
  background-color: rgba(40,167,69,.05);
}
.article-category:hover,
.article-category:focus,
.article-category:active {
  background-color: rgba(40,167,69,.1);
  text-decoration: none;
}
.article-tag:hover,
.article-tag:focus,
.article-tag:active {
  background-color: rgba(3,102,214,.1);
  text-decoration: none;
}

.article-labels,
.article-license,
.article-navigation,
.article-discussion {
  margin-bottom: 20px;
}
.article-discussion {
  border-top: 1px dashed #e1e4e8;
  border-bottom: 1px dashed #e1e4e8;
}
.article-navigation {
  margin-top: 40px;
}
.article-navigation p {
  margin: 0;
}
.article-navigation p + p {
  margin-top: 4px;
}
.article-navigation .link {
  font-weight: 600;
  color: #303033;
}
.article-navigation .li {
  display: inline-block;
  border-color: transparent transparent transparent #838387;
  border-style: solid;
  border-width: 4px;
  margin-right: 4px;
  vertical-align: middle;
}

.article-license {
  font-size: 15px;
  text-align: center;
}
.article-category .hashtag,
.article-tag .hashtag {
  font-weight: 700;
  opacity: .5;
}

.pagination {
  display: block;
  text-align: center;
  margin: 20px 0 40px 0;
}

.pagination ul {
  display: inline-block;
  list-style: none;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.pagination ul li {
  display: inline;
}

.pagination ul li a {
  color: #0366d6;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination ul li a.active {
  background-color: #0366d6;
  color: #fff;
}

.pagination ul li a:hover:not(.active) {
  background-color: rgba(3,102,214,.1);
}

.markdown-body {
  display: block;
  color: #838387;
  padding: 20px 0;
}
.markdown-body > :first-child {
  margin-top: 0 !important;
}
.markdown-body > :last-child {
  margin-bottom: 0 !important;
}

.markdown-body blockquote,
.markdown-body details,
.markdown-body dl,
.markdown-body ol,
.markdown-body hr,
.markdown-body p,
.markdown-body pre,
.markdown-body table,
.markdown-body ul {
  margin-top: 0;
  margin-bottom: 20px;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  color: #303033;
  margin-top: 24px;
  margin-bottom: 20px;
}

.markdown-body h1,
.markdown-body h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

.markdown-body blockquote,
.markdown-body q {
  font-size: 15px;
  color: #303033;
}
.markdown-body blockquote {
  position: relative;
  border: 0;
  padding: 0 0 0 22px;
}
.markdown-body blockquote::before,
.markdown-body blockquote::after,
.markdown-body q::before,
.markdown-body q::after {
  color: #c6c6cc;
}
.markdown-body blockquote::before,
.markdown-body q::before {
  content: "❝";
}
.markdown-body q::after {
  content: "❞";
}
.markdown-body blockquote::before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
}
.markdown-body ol,
.markdown-body ul {
  margin-block-start: 0;
  margin-block-end: 20px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 2em;

  -webkit-margin-before: 0;
  -webkit-margin-after: 20px;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 2em;
}

.markdown-body li + li {
  margin-top: 20px;
}
.markdown-body li > :first-child {
  margin-top: 0 !important;
}
.markdown-body li > :last-child {
  margin-bottom: 0 !important;
}

.markdown-body .image-container {
  display: block;
  line-height: 1;
  text-align: center;
}

.markdown-body .image-container .link,
.markdown-body .image-container .caption {
  display: block;
}
.markdown-body .image-container .caption {
  margin-top: 8px;
}

.markdown-body figure {
  text-align: center;
  margin: 0 0 20px 0;
}
.markdown-body .image-container .img,
.markdown-body figure > img {
  margin: 0;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,.15);
}

.markdown-body .image-container .caption .title,
.markdown-body figcaption > h4 {
  min-width: 20%;
  max-width: 80%;
  min-height: 22px;
  padding: 10px 10px 6px;
  margin: 0 auto;
  border-bottom: 1px solid #d9d9d9;
}

.markdown-body blockquote > :first-child {
  margin-top: 0;
}
.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}

.markdown-body hr {
  border-top: 1px dashed #a5a5a5;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
}
.markdown-body table tr {
  border: 0;
}
.markdown-body table th {
  color: #303033;
  font-weight: 600;
}
.markdown-body table td,
.markdown-body table th {
  min-width: 120px;
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown-body table th:empty {
  padding: 0;
  border: 0;
}

.markdown-body .katex,
.markdown-body .katex-display,
.markdown-body .MathJax,
.markdown-body .MathJax_Display {
  display: inline-block !important;
  font-size: 18px !important;
  width: auto;
  margin: 0;
  padding: 2px 4px;
  color: #303033;
}
.markdown-body .MathJax {
  outline: none;
}

.markdown-body .highlight {
  margin-top: 0;
  margin-bottom: 20px;
}
.markdown-body .highlight .chroma {
  margin: 0;
}
.markdown-body .chroma .lntable {
  display: table;
  table-layout: auto;
  width: 100%;
  font-size: 13.6px;
  border-radius: 3px;
  border: 1px solid #eee;
}
.markdown-body .chroma .lntable .lntd {
  min-width: 0;
  max-width: 50px;
  width: 30px;
}
.markdown-body .chroma .lntable tr {
  border: 0;
}
.markdown-body .chroma .lntable tr > td:last-child {
  width: auto;
}
.markdown-body .chroma .lntable tr > td:last-child > pre {
  padding-left: 0;
}
.markdown-body .chroma .lntable .lntd .lnt {
  display: block;
  text-align: right;
  margin: 0;
  padding: 0;
  overflow: visible;
  cursor: default;
  
  /* Prevent selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.markdown-body .chroma .lntable pre {
  font-size: inherit;
  border-radius: 0;
  border: 0;
  margin: 0;
  width: 100%;
  overflow: auto;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #303033;
  }
  body,
  pre,
  b,
  strong,
  .note-title,
  .article-navigation .link,
  .markdown-body h1,
  .markdown-body h2,
  .markdown-body h3,
  .markdown-body h4,
  .markdown-body h5,
  .markdown-body h6,
  .markdown-body blockquote,
  .markdown-body q,
  .markdown-body table th,
  .markdown-body .katex,
  .markdown-body .katex-display,
  .markdown-body .MathJax,
  .markdown-body .MathJax_Display {
    color: rgba(255, 255, 255, .95);
  }
  .markdown-body h1, .markdown-body h2 {
    border-bottom-color: rgba(234, 236, 239, .3);
  }
  pre {
    border-color: rgba(238, 238, 238, .3);
  }
  .note-list li {
    border-bottom-color: rgba(240, 240, 240, .3);
  }
  .markdown-body .image-container .caption .title, .markdown-body figcaption>h4 {
    border-bottom-color: rgba(217, 217, 217, .3);
  }
  .article-discussion {
    border-top-color: rgba(225, 228, 232, .3);
    border-bottom-color: rgba(225, 228, 232, .3);
  }
  .markdown-body table td,
  .markdown-body table th {
    border-color: rgba(223, 226, 229, .3);
  }
}
@media (max-width: 320px) {
  html {
    font-size: 15px;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 19px;
  }
  h5 {
    font-size: 17px;
  }
  h6 {
    font-size: 15px;
  }
  .max-body-width {
    padding-left: 15px;
    padding-right: 15px;
  }
}