:root {
  color-scheme: light only;
  supported-color-schemes: light only;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, SimHei, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
}
body {
  display: block;
  color: #303033;
  text-rendering: optimizeLegibility;
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
  word-wrap: break-word;

  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  padding-top: constant(safe-area-inset-top);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-left: constant(safe-area-inset-left);

  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

ol,
ul {
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  padding-inline-start: 18px;

  -webkit-margin-before: 8px;
  -webkit-margin-after: 8px;
  -webkit-margin-start: 10px;
  -webkit-margin-end: 10px;
  -webkit-padding-start: 18px;
}

li + li {
  margin-top: 4px;
}
li > :first-child {
  margin-top: 0;
}
li > :last-child {
  margin-bottom: 0;
}

blockquote,
q {
  quotes: none;
  margin: 0;
  background-color: #fff8dc;
}
blockquote {
  margin-bottom: 10px;
  padding: 10px;
  border-left: 2px solid #ffeb8e;
}

img {
  max-width: 100%;
}

p {
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

mark {
  background-color: yellow;
  color: inherit;
}

code,
pre,
tt,
kbd,
samp {
  font-family: "Source Code Pro", SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-weight: 500;
  white-space: pre;
}

pre {
  display: block;
  overflow: auto;
  font-size: 85%;
  color: #24292e;
  line-height: 1.45;
  padding: 12px 10px;
  margin: 8px 0;
  word-wrap: normal;
  border-radius: 3px;
  border: 1px solid #eee;
  -o-tab-size: 4;
  -moz-tab-size: 4;
  tab-size: 4;
}

code,
kbd,
tt,
samp {
  display: inline;
  font-size: 85%;
  padding: 2px 4px;
  border-radius: 3px;
  color: #c7254e;
  background-color: #f9f2f4;
}

kbd {
  display: inline-block;
  color: #303033;
  background-color: #eee;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  line-height: 1;
}
kbd+kbd {
  margin-left: 4px;
}

pre > code,
pre > kbd,
pre > tt,
pre > samp {
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  padding: 0;
  border: 0;
  border-radius: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
td, th {
  padding: 0;
}

a {
  color: #0366d6;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-decoration-skip: objects;
  -moz-text-decoration-skip: objects;
  text-decoration-skip: objects;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

figure {
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

figcaption > h4,
.markdown-body .image-container .caption .title {
  display: inline-block;
  color: #969696 !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

svg {
  max-width: 100%;
}

del {
  opacity: 0.5;
}

abbr,
acronym {
  cursor: help;
}

b,
strong {
  color: #303033;
  font-weight: 600;
}

.max-width {
  max-width: 730px;
}
.max-body-width {
  padding-left: 24px;
  padding-right: 24px;
}

.base-body {
  display: block;
  margin: 0 auto;
  background-color: #fff;
}

.header {
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header p {
  margin: 0;
  line-height: 1;
}

.nav {
  padding-top: 12px;
  border-bottom: 2px solid #fef9f7;
}
.nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.nav li {
  display: inline-block;
}

.site-name {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  vertical-align: middle;
}
.site-name:hover,
.site-name:focus,
.site-name:active {
  opacity: 0.5;
  text-decoration: none;
}

.site-logo {
  height: 42px;
  vertical-align: middle;
}
.site-slogan {
  display: inline-block;
  font-size: 16px;
  color: #999;
  margin-left: 12px;
  vertical-align: middle;
}

.site-tag {
  display: inline-block;
  padding: 2px 10px;
  margin: 0 12px 12px 0;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  color: #f25022;
  background-color: #fef9f7;
}
.site-tag:hover,
.site-tag:focus,
.site-tag:active {
  text-decoration: none;
  background-color: #fcefea;
}

.flex-body {
  margin: 0 auto;
  padding-bottom: 20px;
}

.footer {
  text-align: center;
  font-size: 12px;
  color: #999;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #eaecef;
}
.footer p {
  margin: 0;
}

.note-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.note-list li {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 8px 0;
  border-bottom: 1px solid #f0f0f0;
  word-wrap: break-word;
}
.note-list li:last-child {
  border: 0 !important;
}

.note-list figure {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  margin: 0;
  overflow: auto;
}
.note-list figure > img {
  object-fit: cover;
  height: 80px;
  min-width: 80px;
  max-width: 120px;
  border-radius: 4px;
  border: 1px solid #eee;
  margin: 0 5px 0 0;
}
.note-list figure > img:last-child {
  margin: 0;
}

.note {
  display: block;
  font-size: 14px;
  color: #999;
  text-decoration: none;
}
.note:hover,
.note:focus,
.note:active {
  text-decoration: none;
}

.note-title {
  font-size: 18px;
  font-weight: 600;
  color: #303033;
}
.note-content {
  line-height: 1.5;
}

.article-date {
  font-size: 14px;
  color: #999;
}
.article-tag,
.article-category {
  display: inline-block;
  padding: 4px 6px;
  margin: 2px 3px 2px 0;
  line-height: 1;
  white-space: nowrap;
  border-radius: 3px;
}
.article-tag {
  color: #0366d6;
  background-color: #f3f8fd;
}
.article-category {
  color: #28a745;
  background-color: #f6fbf7;
}
.article-category:hover,
.article-category:focus,
.article-category:active,
.article-tag:hover,
.article-tag:focus,
.article-tag:active {
  background-color: #def;
  text-decoration: none;
}

.article-labels,
.article-license,
.article-navigation,
.article-discussion {
  padding: 16px 0;
}
.article-navigation,
.article-discussion {
  border-top: 1px dashed #e1e4e8;
}
.article-navigation .link {
  font-weight: 600;
  color: #303033;
}
.article-navigation .li {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #0366d6;
  border-radius: 4px;
  margin-right: 6px;
  vertical-align: middle;
}
.article-license {
  font-size: 85%;
  text-align: center;
  color: #165c26;
  background-color: #dcffe4;
  padding: 16px 8px;
}
.article-category .hashtag,
.article-tag .hashtag {
  font-weight: 700;
  opacity: .5;
}

.pagination {
  display: block;
  text-align: center;
  margin: auto;
}

.pagination ul {
  display: inline-block;
  font-weight: 600;
  padding: 0;
  margin: 16px 0px;
}

.pagination ul li {
  display: inline;
}

.pagination ul li a {
  color: #0366d6;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination ul li a.active {
  background-color: #0366d6;
  color: #fff;
}

.pagination ul li a:hover:not(.active) {
  background-color: #def;
}

.markdown-body {
  display: block;
  color: #838387;
  padding: 20px 0;
  line-height: 1.8;
}

.markdown-body > :first-child {
  margin-top: 0 !important;
}
.markdown-body > :last-child {
  margin-bottom: 0 !important;
}

.markdown-body blockquote,
.markdown-body details,
.markdown-body dl,
.markdown-body ol,
.markdown-body hr,
.markdown-body p,
.markdown-body pre,
.markdown-body table,
.markdown-body ul {
  margin-top: 0;
  margin-bottom: 20px;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  color: #303033;
  margin-top: 24px;
  margin-bottom: 20px;
}

.markdown-body h1,
.markdown-body h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

.markdown-body li + li {
  margin-top: 20px;
}
.markdown-body li > :first-child {
  margin-top: 0 !important;
}
.markdown-body li > :last-child {
  margin-bottom: 0 !important;
}

.markdown-body .image-container {
  display: block;
  line-height: 1;
  text-align: center;
}

.markdown-body .image-container .link,
.markdown-body .image-container .caption {
  display: block;
}
.markdown-body .image-container .caption {
  margin-top: 8px;
}

.markdown-body figure {
  text-align: center;
  margin: 0 0 20px 0;
}
.markdown-body .image-container .img,
.markdown-body figure > img {
  margin: 0;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
}

.markdown-body .image-container .caption .title,
.markdown-body figcaption > h4 {
  min-width: 20%;
  max-width: 80%;
  min-height: 22px;
  padding: 10px 10px 6px;
  margin: 0 auto;
  border-bottom: 1px solid #d9d9d9;
}

.markdown-body blockquote > :first-child {
  margin-top: 0;
}
.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}

.markdown-body hr {
  border-top: 1px dashed #a5a5a5;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
}
.markdown-body table tr {
  border-top: 1px solid #c6cbd1;
}
.markdown-body table th {
  color: #303033;
  font-weight: 600;
}
.markdown-body table td,
.markdown-body table th {
  min-width: 120px;
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown-body .highlight {
  margin-top: 0;
  margin-bottom: 20px;
}
.markdown-body .highlight .chroma {
  margin: 0;
}
.markdown-body .chroma .lntable {
  display: table;
  table-layout: auto;
  width: 100%;
  font-size: 85%;
  border-radius: 3px;
  border: 1px solid #eee;
}
.markdown-body .chroma .lntable .lntd {
  min-width: 0;
  max-width: 50px;
  width: 30px;
}
.markdown-body .chroma .lntable tr {
  border: 0;
}
.markdown-body .chroma .lntable tr > td:last-child {
  width: auto;
}
.markdown-body .chroma .lntable tr > td:last-child > pre {
  padding-left: 0;
}
.markdown-body .chroma .lntable .lntd .lnt {
  display: block;
  text-align: right;
  margin: 0;
  padding: 0;
  overflow: visible;
  cursor: default;
  
  /* Prevent selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.markdown-body .chroma .lntable pre {
  font-size: inherit;
  border-radius: 0;
  border: 0;
  margin: 0;
  width: 100%;
  overflow: auto;
}
