:root {
  color-scheme: light dark;
  supported-color-schemes: light dark;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 17px;
  font-weight: 400;
  line-height: 1.7;
}

body {
  display: block;
  color: #333;
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
  word-wrap: break-word;

  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  padding-top: constant(safe-area-inset-top);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-left: constant(safe-area-inset-left);

  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.3;
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ol,
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;

  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

li+li {
  margin-top: 4px;
}

li> :first-child {
  margin-top: 0;
}

li> :last-child {
  margin-bottom: 0;
}

blockquote,
q {
  quotes: none;
  margin: 0;
}

img {
  max-width: 100%;
}

p {
  /* IE 10+ */
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

mark {
  color: currentColor;
  background-color: rgba(12, 242, 143, .2);
}

code,
pre,
tt,
kbd,
samp {
  font-family: Menlo, Consolas, 'Liberation Mono', monospace;
  font-weight: 400;
  font-size: 13.6px;
}

pre {
  display: block;
  overflow: auto;
  line-height: 1.45;

  padding: 12px 10px;
  margin: 0;

  word-wrap: normal;
  white-space: pre;

  border-radius: 3px;
  border: 1px solid #eee;

  -o-tab-size: 4;
  -moz-tab-size: 4;
  tab-size: 4;
}

code,
kbd,
tt,
samp {
  color: #d14;
}

pre code,
pre kbd,
pre tt,
pre samp {
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  padding: 0;
  border: 0;
  border-radius: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

a {
  color: #007aff;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-decoration-skip: objects;
  -moz-text-decoration-skip: objects;
  text-decoration-skip: objects;
}

a:hover {
  text-decoration: underline;
}

svg {
  max-width: 100%;
}

del {
  opacity: 0.5;
}

abbr,
acronym {
  cursor: help;
}

b,
strong {
  font-weight: 700;
}

.image-container,
.image-container .link,
.image-container .caption {
  display: block;
}

.image-container {
  text-align: center;
}

.image-container .link {
  line-height: 1;
}

.image-container .caption {
  line-height: 1.5;
}

.image-container .title {
  display: inline-block;
}

.image-container .img {
  border-radius: 8px;
  border: 1px solid #eee;
}

.image-container .title {
  font-size: 14px;
  text-align: initial;
  color: #999;
  max-width: 80%;
  min-height: 22px;
  padding: 10px 10px 6px;
  border-bottom: 1px solid #eee;
}

.max-body-width {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.base-body {
  display: block;
  margin: -1px auto;
  max-width: 800px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.site.header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header.wrap {
  text-align: justify;
  font-size: 1px;
}

.header.wrap:after {
  display: inline-block;
  content: "";
  width: 100%;
}

.header.wrap,
.nav.wrap {
  margin-top: -5px;
}

.header.wrap>*,
.nav.wrap>* {
  margin-top: 5px;
}

.header.left-side,
.header.right-side {
  display: inline-block;
  font-size: 17px;
  text-align: initial;
}

.site.home:hover {
  opacity: 0.5;
  text-decoration: none;
}

.site.logo {
  height: 42px;
  border-radius: 3px;
  vertical-align: middle;
  margin-right: 8px;
}

.site.name {
  color: #333;
}

.site.slogan {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}

.site.slogan .title {
  display: inline-block;
  text-align: initial;
  color: #999;
  min-height: 22px;
  padding: 10px 10px 6px;
  border-bottom: 1px solid #eee;
}

.nav.item {
  display: inline-block;
  font-size: 15px;
  line-height: 1;
  padding: 4px 6px;
  margin: 2px 3px 2px 0;
  white-space: nowrap;
  border-radius: 3px;
}

.footer {
  font-size: 12px;
  color: #999;
  margin-top: 40px;
  margin-bottom: 20px;
}

.footer-wrap {
  display: block;
  text-align: center;
}

.date {
  font-size: 14px;
}

.note.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.note.list .item {
  width: 100%;
  margin: 5px 0 10px 0;
  padding: 0;
  border-bottom: 1px solid #eee;
  word-wrap: break-word;
}

.note.list .item:last-child {
  border: 0 !important;
}

.note.list .item a:hover,
.nav.item:hover,
.article.tag:hover,
.article.category:hover {
  background-color: #eee;
  text-decoration: none;
}

.note {
  color: #333;
  display: block;
  text-decoration: none;
}

.note:hover {
  text-decoration: none;
}

.note.title,
.site.name {
  font-size: 17px;
  font-weight: 700;
}

.note.date {
  color: #999;
}

.note.content {
  font-size: 15px;
}

.note.title,
.note.date,
.note.content,
.note.imgs,
.note.labels {
  margin: 5px 0;
}

.note.imgs {
  display: block;
  border: 0px solid transparent;
  line-height: 1;
}

.note.imgs .img {
  object-fit: cover;
  height: 80px;
  min-width: 80px;
  max-width: 120px;
  border-radius: 4px;
  border: 1px solid #eee;
  margin: 5px 0 0 5px;
}

.article.header {
  margin: 20px 0;
}

.article.date {
  color: #999;
  margin-top: 20px;
}

.tag,
.category {
  display: inline-block;
  font-size: 15px;
  line-height: 1;
  padding: 4px 6px;
  margin: 2px 3px 2px 0;
  white-space: nowrap;
  border-radius: 3px;
}

.tag {
  color: #c41a16;
}

.category {
  color: #0b4f79;
}

.article.labels,
.article.license,
.article.navigation,
.article.discussion {
  margin-bottom: 20px;
}

.article.discussion {
  border-top: 1px dashed #eee;
  border-bottom: 1px dashed #eee;
}

.article.navigation p {
  margin: 0;
}

.article.navigation p+p {
  margin-top: 4px;
}

.article.navigation .link {
  font-weight: 700;
}

.article.navigation .li {
  display: inline-block;
  border-color: transparent transparent transparent #838387;
  border-style: solid;
  border-width: 4px;
  margin-right: 4px;
}

.article.license {
  font-size: 15px;
  text-align: center;
}

.pagination {
  display: block;
  text-align: center;
  margin: 20px 0 40px 0;
}

.pagination ul {
  display: inline-block;
  list-style: none;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.pagination ul li {
  display: inline;
}

.pagination ul li a {
  color: #007aff;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination ul li a.active {
  background-color: #007aff;
  color: #fff;
}

.pagination ul li a:hover:not(.active) {
  background-color: rgba(0, 122, 255, .5);
}

.note.content,
.article.markdown-body {
  color: #444;
}

.article.markdown-body {
  display: block;
  margin: 20px 0;
}

.article.markdown-body> :first-child {
  margin-top: 0 !important;
}

.article.markdown-body> :last-child {
  margin-bottom: 0 !important;
}

.article.markdown-body>* {
  margin-top: 0;
  margin-bottom: 20px;
}

.article.markdown-body h1,
.article.markdown-body h2,
.article.markdown-body h3,
.article.markdown-body h4,
.article.markdown-body h5,
.article.markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 20px;
}

.article.markdown-body h1,
.article.markdown-body h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eee;
}

.article.markdown-body blockquote {
  position: relative;
  border: 0;
  padding: 0 0 0 20px;
}

.article.markdown-body blockquote:before,
.article.markdown-body blockquote:after,
.article.markdown-body q:before,
.article.markdown-body q:after {
  opacity: .6;
}

.article.markdown-body blockquote:before,
.article.markdown-body q:before {
  display: inline-block;
  /* ❝ */
  content: "\275D";
  margin-right: 2px;
}

.article.markdown-body q:after {
  display: inline-block;
  /* ❞ */
  content: "\275E";
  margin-left: 2px;
}

.article.markdown-body blockquote:before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
}

.article.markdown-body ol,
.article.markdown-body ul {
  margin-block-start: 0;
  margin-block-end: 20px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 2em;

  -webkit-margin-before: 0;
  -webkit-margin-after: 20px;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 2em;
}

.article.markdown-body li+li {
  margin-top: 20px;
}

.article.markdown-body li>* {
  margin-top: 0;
  margin-bottom: 20px;
}

.article.markdown-body li> :first-child {
  margin-top: 0 !important;
}

.article.markdown-body li> :last-child {
  margin-bottom: 0 !important;
}

.article.markdown-body blockquote>* {
  margin-top: 0;
  margin-bottom: 20px;
}

.article.markdown-body blockquote> :first-child {
  margin-top: 0 !important;
}

.article.markdown-body blockquote> :last-child {
  margin-bottom: 0 !important;
}

.article.markdown-body hr {
  border-top: 1px dashed #eee;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.article.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
}

.article.markdown-body table tr {
  border: 0;
}

.article.markdown-body table th {
  font-weight: 700;
}

.article.markdown-body table td,
.article.markdown-body table th {
  min-width: 120px;
  padding: 6px 13px;
  border: 1px solid #eee;
}

.article.markdown-body table th:empty {
  padding: 0;
  border: 0;
}

@media (max-width: 375px) {
  html {
    font-size: 15px;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 23px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 19px;
  }

  h5 {
    font-size: 17px;
  }

  h6 {
    font-size: 15px;
  }

  .header.left-side,
  .header.right-side {
    font-size: 15px;
  }

  .max-body-width {
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* mathjax & katex patch */
.article.markdown-body .katex,
.article.markdown-body .katex-display,
.article.markdown-body .MathJax,
.article.markdown-body .MathJax_Display {
  display: inline-block !important;
  font-size: 18px !important;
  width: auto;
  margin: 0;
  padding: .2em .4em;
}

.article.markdown-body .MathJax {
  outline: none;
}