{{- if or .Params.categories .Params.tags -}}
<section class="article labels">
    {{- range .Params.categories -}}
      {{- $category := replace . "#" "%23" -}}
      {{- $category = replace $category "." "%2e" -}}
      {{- $url := print "/categories/" ($category | urlize) "/" -}}
      <a class="category" href={{- $url | relLangURL -}}>{{- . -}}</a>
    {{- end -}}
    {{- range .Params.tags -}}
      {{- $tag := replace . "#" "%23" -}}
      {{- $tag = replace $tag "." "%2e" -}}
      {{- $url := print "/tags/" ($tag | urlize) "/" -}}
      <a class="tag" href={{- $url | relLangURL -}}>{{- . -}}</a>
    {{- end -}}
</section>
{{- end -}}