{{- if or .Params.categories .Params.tags -}}
<section class="article labels">
    {{- range .Params.categories -}}
    {{- $url := print "/categories/" (. | urlize) "/" -}}
    <a class="article category" href={{- $url | relLangURL -}}><span class="hashtag">#</span>{{- . -}}</a>
    {{- end -}}
    {{- range .Params.tags -}}
    {{- $url := print "/tags/" ( . | urlize) "/" -}}
    <a class="article tag" href={{- $url | relLangURL -}}><span class="hashtag">#</span>{{- . -}}</a>
    {{- end -}}
</section>
{{- end -}}