{{- $js := "" -}}
{{- range .Site.Params.assets.js -}}
  {{- $customJS := resources.Get . -}}
  {{- if $customJS -}}
    {{- if eq $js "" -}}
      {{- $js = $customJS -}}
    {{- else -}}
      {{- $js = slice $js $customJS | resources.Concat (printf "%s.tmp_custom.js" .) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if ne $js "" -}}
  {{- $coreJS := slice $js ("" | resources.FromString "js/_core.js") | resources.Concat "js/core.js" -}}
  {{- $coreJS = $coreJS | resources.Minify | resources.Fingerprint "sha384" -}}
  {{- partial "js.html" $coreJS -}}
{{- end -}}