<section id="header" class="header max-body-width">
    <div class="header-wrap"><span class="header-left-side"><a class="home" href="{{- `/` | relURL -}}">
                {{- $logo := .Site.Params.logo -}}
                {{- if $logo -}}
                <img class="site-logo" src="{{- $logo | relURL -}}" alt />
                {{- end -}}
                <span class="site-name">{{- .Site.Title -}}</span></a></span>
        <span class="header-right-side">
            {{- partial "navigation-items.html" .Site.Params.nav -}}
        </span></div>
    {{- with .Site.Params.slogan -}}
        <div class="site-slogan"><span class="title">{{- . | safeHTML -}}</span></div>
    {{- end -}}
</section>