<section id="header" class="header max-body-width">
    <div class="header-wrap">
        <div class="header-left-side"><a class="home" href="{{- `/` | relURL -}}">
                {{- with .Site.Params.logo -}}
                    <img class="site-logo" src="{{- . | relURL -}}" alt />
                {{- else -}}
                    <p class="site-name">{{- .Site.Title -}}</p>
                {{- end -}}</a>
        </div>
        <div class="header-right-side">
            {{- partial "navigation-items.html" .Site.Params.nav -}}
        </div>
    </div>
    {{- with .Site.Params.slogan -}}
        <div class="site-slogan"><p class="title">{{- . | safeHTML -}}</p></div>
    {{- end -}}
</section>