{{- if or .Site.Params.nav.showCategories .Site.Params.nav.showTags .Site.Params.nav.custom -}}
<div class="nav-wrap"><div class="nav">
    {{- if .Site.Params.nav.showCategories -}}
        <a class="site-tag" href="{{- `/categories/` | relURL -}}">Categories</a>
    {{- end -}}
    {{- if .Site.Params.nav.showTags -}}
        <a class="site-tag" href="{{- `/tags/` | relURL -}}">Tags</a>
    {{- end -}}
    {{- range .Site.Params.nav.custom -}}
        {{- $url := .url | safeURL -}}
        {{- if strings.HasPrefix $url "/" -}}{{- $url = ($url | relURL) -}}{{- end -}}
        <a class="site-tag" href="{{- $url -}}" 
            {{- if strings.HasPrefix $url "http" -}}target="_blank"
            {{- end -}}>{{- .title -}}</a>
    {{- end -}}
</div></div>
{{- end -}}