{{ define "main" }}
{{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}

{{ if .Site.Params.nav }}
<div class="nav">
    <ul>
        {{ if .Site.Params.nav.showCategories }}<li><a class="site-tag" href="/categories/">Categories</a></li>{{ end }}
        {{ if .Site.Params.nav.showTags }}<li><a class="site-tag" href="/tags/">Tags</a></li>{{ end }}
        {{ range .Site.Params.nav.customs }}<li><a class="site-tag" href="/{{ . | lower }}/">{{ . }}</a></li>{{ end }}
    </ul>
</div>
{{ end }}

<ul class="note-list">
    {{ range $paginator.Pages }}
    <li>
        <a class="note" href="{{ .RelPermalink }}">
            <p class="note-title">{{ .Title }}</p>
            <p>
                <span>{{ .Date.Format "2006-01-02" }}</span>
                {{ range .Params.categories }}
                    <object><a class="article-label" href="/categories/{{ . | urlize }}/">{{ . }}</a></object>
                {{ end }}
                {{ range .Params.tags }}
                    <object><a class="article-tag" href="/tags/{{ . | urlize }}/">{{ . }}</a></object>
                {{ end }}
            </p>
            <p class="note-content">{{ .Summary }}{{ if .Truncated }}…{{ end }}</p>
            {{ $relURL := .RelPermalink }}
            {{ $imgs := .Params.imgs }}
            {{ with .Params.imgs }}
                <figure>
                    {{ $imgCount := len $imgs }}
                    {{ range $imgs }}
                        {{ $imgurl := lower . }}
                        {{ if and (not (hasPrefix $imgurl "http://")) (not (hasPrefix $imgurl "https://")) }}
                            {{ $imgurl = path.Join $relURL . }}
                        {{ end }}
                        <img src="{{ $imgurl | relURL }}">
                    {{ end }}
                </figure>
            {{ end }}
        </a>
    </li>
    {{ end }}
</ul>

{{ if gt $paginator.TotalPages 1 }}

{{ $pageIndex := $paginator.PageNumber }}
{{ $totalPages := $paginator.TotalPages }}
{{ $cols := 5.0 }}
{{ $rows := math.Ceil (div $totalPages $cols) }}
{{ $row := math.Ceil (div $pageIndex $cols) }}
{{ $startPage := sub (mul $row $cols) $cols }}
{{ $endPage := add $startPage $cols }}

<div class="pagination">
    <ul>
        {{ if gt $row 1 }}
        <li><a href="{{ $paginator.Prev.URL }}" class="previous_page">&laquo;</a></li>
        {{ end }}

        {{ range $paginator.Pagers }}
        {{ if and (gt .PageNumber $startPage) (le .PageNumber $endPage) }}
        {{ $active := "" }}
        {{ if eq .PageNumber $paginator.PageNumber }}
        {{ $active = "active" }}
        {{ end }}
        <li><a class="{{ $active }}" href="{{ .URL }}">{{ .PageNumber }}</a></li>
        {{ end }}
        {{ end }}

        {{ if lt $row $rows }}
        <li><a href="{{ $paginator.Next.URL }}" class="next_page">&raquo;</a></li>
        {{ end }}
    </ul>
</div>
{{ end }}

{{ end }}


