/**
 * Github-like theme for Prism.js
 * @author lvv https://lvv.me
 */

pre[class*="language-"] {
  color: #24292e;
  background-color: #fff;
}

.token.function,
.token.number,
.token.constant {
  color: #005cc5;
}

.token.boolean,
.token.keyword,
.token.key.atrule,
.token.operator,
.token.punctuation {
  color: #d73a49;
}

.token.builtin,
.token.class-name {
  color: #6f42c1;
}

.token.string {
  color: #032f62;
}

.token.comment,
.token.doctype {
    color: #6a737d;
}
  
.token.punctuation {
  color: #d73a49;
}
  
.token.tag {
  color: #22863a;
}
  
.token.attr-name {
  color: #6f42c1;
}
  
.token.attr-value {
  color: #032f62;
}
