/* Background */ .chroma { color: #24292e; background-color: #ffffff }
/* Error */ .chroma .err { color: #d73a49; }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #fffbdd }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: #d73a49; }
/* KeywordConstant */ .chroma .kc { color: #d73a49; }
/* KeywordDeclaration */ .chroma .kd { color: #d73a49; }
/* KeywordNamespace */ .chroma .kn { color: #d73a49; }
/* KeywordPseudo */ .chroma .kp { color: #d73a49; }
/* KeywordReserved */ .chroma .kr { color: #d73a49; }
/* KeywordType */ .chroma .kt { color: #d73a49; }
/* NameAttribute */ .chroma .na { color: #6f42c1 }
/* NameBuiltin */ .chroma .nb { color: #6f42c1 }
/* NameBuiltinPseudo */ .chroma .bp { color: #6f42c1 }
/* NameClass */ .chroma .nc { color: #6f42c1; }
/* NameConstant */ .chroma .no { color: #6f42c1 }
/* NameDecorator */ .chroma .nd { color: #6f42c1; }
/* NameEntity */ .chroma .ni { color: #6f42c1 }
/* NameException */ .chroma .ne { color: #6f42c1; }
/* NameFunction */ .chroma .nf { color: #6f42c1; }
/* NameLabel */ .chroma .nl { color: #6f42c1; }
/* NameNamespace */ .chroma .nn { color: #6f42c1 }
/* NameOther */ .chroma .nx { color: #22863a }
/* NameTag */ .chroma .nt { color: #22863a }
/* NameVariable */ .chroma .nv { color: #6f42c1 }
/* NameVariableClass */ .chroma .vc { color: #6f42c1 }
/* NameVariableGlobal */ .chroma .vg { color: #6f42c1 }
/* NameVariableInstance */ .chroma .vi { color: #6f42c1 }
/* LiteralString */ .chroma .s { color: #032f62 }
/* LiteralStringAffix */ .chroma .sa { color: #032f62 }
/* LiteralStringBacktick */ .chroma .sb { color: #032f62 }
/* LiteralStringChar */ .chroma .sc { color: #032f62 }
/* LiteralStringDelimiter */ .chroma .dl { color: #032f62 }
/* LiteralStringDoc */ .chroma .sd { color: #032f62 }
/* LiteralStringDouble */ .chroma .s2 { color: #032f62 }
/* LiteralStringEscape */ .chroma .se { color: #032f62 }
/* LiteralStringHeredoc */ .chroma .sh { color: #032f62 }
/* LiteralStringInterpol */ .chroma .si { color: #032f62 }
/* LiteralStringOther */ .chroma .sx { color: #032f62 }
/* LiteralStringRegex */ .chroma .sr { color: #032f62 }
/* LiteralStringSingle */ .chroma .s1 { color: #032f62 }
/* LiteralStringSymbol */ .chroma .ss { color: #032f62 }
/* LiteralNumber */ .chroma .m { color: #005cc5 }
/* LiteralNumberBin */ .chroma .mb { color: #005cc5 }
/* LiteralNumberFloat */ .chroma .mf { color: #005cc5 }
/* LiteralNumberHex */ .chroma .mh { color: #005cc5 }
/* LiteralNumberInteger */ .chroma .mi { color: #005cc5 }
/* LiteralNumberIntegerLong */ .chroma .il { color: #005cc5 }
/* LiteralNumberOct */ .chroma .mo { color: #005cc5 }
/* Operator */ .chroma .o { color: #d73a49; }
/* OperatorWord */ .chroma .ow { color: #d73a49; }
/* Punctuation */ .chroma .p { color: #d73a49 }
/* Comment */ .chroma .c { color: #6a737d; }
/* CommentHashbang */ .chroma .ch { color: #6a737d; }
/* CommentMultiline */ .chroma .cm { color: #6a737d; }
/* CommentSingle */ .chroma .c1 { color: #6a737d; }
/* CommentSpecial */ .chroma .cs { color: #6a737d; }
/* CommentPreproc */ .chroma .cp { color: #6a737d; }
/* CommentPreprocFile */ .chroma .cpf { color: #6a737d; }
/* GenericDeleted */ .chroma .gd { color: #6f42c1; background-color: #ffdddd }
/* GenericEmph */ .chroma .ge { color: #6f42c1; }
/* GenericError */ .chroma .gr { color: #aa0000 }
/* GenericHeading */ .chroma .gh { color: #6a737d }
/* GenericInserted */ .chroma .gi { color: #6f42c1; background-color: #ddffdd }
/* GenericOutput */ .chroma .go { color: #888888 }
/* GenericPrompt */ .chroma .gp { color: #555555 }
/* GenericStrong */ .chroma .gs { }
/* GenericSubheading */ .chroma .gu { color: #aaaaaa }
/* GenericTraceback */ .chroma .gt { color: #aa0000 }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: #bbbbbb }
