/* Background */ .chroma { color: rgba(0,0,0,.85); background-color: #fff; }
/* Error */ .chroma .err { color: rgba(0,0,0,.85) }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #E8F2FF }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #A6A6A6 }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #A6A6A6 }
/* Keyword */ .chroma .k { color: #9B2393 }
/* KeywordConstant */ .chroma .kc { color: #9B2393 }
/* KeywordDeclaration */ .chroma .kd { color: #9B2393 }
/* KeywordNamespace */ .chroma .kn { color: #9B2393 }
/* KeywordPseudo */ .chroma .kp { color: #9B2393 }
/* KeywordReserved */ .chroma .kr { color: #9B2393 }
/* KeywordType */ .chroma .kt { color: #9B2393 }
/* Name */ .chroma .n { color: rgba(0,0,0,.85) }
/* NameAttribute */ .chroma .na { color: #6C36A9 }
/* NameBuiltin */ .chroma .nb { color: #9B2393 }
/* NameBuiltinPseudo */ .chroma .bp { color: #6C36A9 }
/* NameClass */ .chroma .nc { color: #3900A0 }
/* NameConstant */ .chroma .no { color: #6C36A9 }
/* NameDecorator */ .chroma .nd { color: rgba(0,0,0,.85) }
/* NameEntity */ .chroma .ni { color: rgba(0,0,0,.85) }
/* NameException */ .chroma .ne { color: rgba(0,0,0,.85) }
/* NameFunction */ .chroma .nf { color: #6C36A9 }
/* NameFunctionMagic */ .chroma .fm { color: rgba(0,0,0,.85) }
/* NameLabel */ .chroma .nl { color: rgba(0,0,0,.85) }
/* NameNamespace */ .chroma .nn { color: rgba(0,0,0,.85) }
/* NameOther */ .chroma .nx { color: #3900A0 }
/* NameProperty */ .chroma .py { color: rgba(0,0,0,.85) }
/* NameTag */ .chroma .nt { color: #9B2393 }
/* NameVariable */ .chroma .nv { color: rgba(0,0,0,.85) }
/* NameVariableClass */ .chroma .vc { color: rgba(0,0,0,.85) }
/* NameVariableGlobal */ .chroma .vg { color: rgba(0,0,0,.85) }
/* NameVariableInstance */ .chroma .vi { color: rgba(0,0,0,.85) }
/* NameVariableMagic */ .chroma .vm { color: rgba(0,0,0,.85) }
/* Literal */ .chroma .l { color: #1C00CF }
/* LiteralDate */ .chroma .ld { color: #1C00CF }
/* LiteralString */ .chroma .s { color: #C41A16 }
/* LiteralStringAffix */ .chroma .sa { color: #C41A16 }
/* LiteralStringBacktick */ .chroma .sb { color: #C41A16 }
/* LiteralStringChar */ .chroma .sc { color: #1C00CF }
/* LiteralStringDelimiter */ .chroma .dl { color: #C41A16 }
/* LiteralStringDoc */ .chroma .sd { color: #C41A16 }
/* LiteralStringDouble */ .chroma .s2 { color: #C41A16 }
/* LiteralStringEscape */ .chroma .se { color: #C41A16 }
/* LiteralStringHeredoc */ .chroma .sh { color: #C41A16 }
/* LiteralStringInterpol */ .chroma .si { color: #C41A16 }
/* LiteralStringOther */ .chroma .sx { color: #C41A16 }
/* LiteralStringRegex */ .chroma .sr { color: #C41A16 }
/* LiteralStringSingle */ .chroma .s1 { color: #C41A16 }
/* LiteralStringSymbol */ .chroma .ss { color: #C41A16 }
/* LiteralNumber */ .chroma .m { color: #1C00CF }
/* LiteralNumberBin */ .chroma .mb { color: #1C00CF }
/* LiteralNumberFloat */ .chroma .mf { color: #1C00CF }
/* LiteralNumberHex */ .chroma .mh { color: #1C00CF }
/* LiteralNumberInteger */ .chroma .mi { color: #1C00CF }
/* LiteralNumberIntegerLong */ .chroma .il { color: #1C00CF }
/* LiteralNumberOct */ .chroma .mo { color: #1C00CF }
/* Operator */ .chroma .o { color: rgba(0,0,0,.85) }
/* OperatorWord */ .chroma .ow { color: rgba(0,0,0,.85) }
/* Punctuation */ .chroma .p { color: #326D74 }
/* Comment */ .chroma .c { color: #5D6C79 }
/* CommentHashbang */ .chroma .ch { color: #5D6C79 }
/* CommentMultiline */ .chroma .cm { color: #5D6C79 }
/* CommentSingle */ .chroma .c1 { color: #5D6C79 }
/* CommentSpecial */ .chroma .cs { color: #5D6C79 }
/* CommentPreproc */ .chroma .cp { color: #4A5560 }
/* CommentPreprocFile */ .chroma .cpf { color: #4A5560 }
/* GenericHeading */ .chroma .gh { color: #005cc5; }
/* GenericDeleted */ .chroma .gd { color: #b31d28; background-color: rgba(179, 29, 40, .05); }
/* GenericInserted */ .chroma .gi { color: #22863a; background-color: rgba(34, 134, 58, .05);}
