/* Background */ .chroma { color: rgba(255,255,255,.85); background-color: #1f1f24; }
/* Error */ .chroma .err { color: rgba(255,255,255,.85) }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #23252B }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #747478 }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #747478 }
/* Keyword */ .chroma .k { color: #FC5FA3 }
/* KeywordConstant */ .chroma .kc { color: #FC5FA3 }
/* KeywordDeclaration */ .chroma .kd { color: #FC5FA3 }
/* KeywordNamespace */ .chroma .kn { color: #FC5FA3 }
/* KeywordPseudo */ .chroma .kp { color: #FC5FA3 }
/* KeywordReserved */ .chroma .kr { color: #FC5FA3 }
/* KeywordType */ .chroma .kt { color: #FC5FA3 }
/* Name */ .chroma .n { color: rgba(255,255,255,.85) }
/* NameAttribute */ .chroma .na { color: #A167E6 }
/* NameBuiltin */ .chroma .nb { color: #FC5FA3 }
/* NameBuiltinPseudo */ .chroma .bp { color: #A167E6 }
/* NameClass */ .chroma .nc { color: #D0A8FF }
/* NameConstant */ .chroma .no { color: #A167E6 }
/* NameDecorator */ .chroma .nd { color: rgba(255,255,255,.85) }
/* NameEntity */ .chroma .ni { color: rgba(255,255,255,.85) }
/* NameException */ .chroma .ne { color: rgba(255,255,255,.85) }
/* NameFunction */ .chroma .nf { color: #D0A8FF }
/* NameFunctionMagic */ .chroma .fm { color: rgba(255,255,255,.85) }
/* NameLabel */ .chroma .nl { color: rgba(255,255,255,.85) }
/* NameNamespace */ .chroma .nn { color: rgba(255,255,255,.85) }
/* NameOther */ .chroma .nx { color: #D0A8FF }
/* NameProperty */ .chroma .py { color: rgba(255,255,255,.85) }
/* NameTag */ .chroma .nt { color: #FC5FA3 }
/* NameVariable */ .chroma .nv { color: rgba(255,255,255,.85) }
/* NameVariableClass */ .chroma .vc { color: rgba(255,255,255,.85) }
/* NameVariableGlobal */ .chroma .vg { color: rgba(255,255,255,.85) }
/* NameVariableInstance */ .chroma .vi { color: rgba(255,255,255,.85) }
/* NameVariableMagic */ .chroma .vm { color: rgba(255,255,255,.85) }
/* Literal */ .chroma .l { color: #D0BF69 }
/* LiteralDate */ .chroma .ld { color: #D0BF69 }
/* LiteralString */ .chroma .s { color: #FC6A5D }
/* LiteralStringAffix */ .chroma .sa { color: #FC6A5D }
/* LiteralStringBacktick */ .chroma .sb { color: #FC6A5D }
/* LiteralStringChar */ .chroma .sc { color: #D0BF69 }
/* LiteralStringDelimiter */ .chroma .dl { color: #FC6A5D }
/* LiteralStringDoc */ .chroma .sd { color: #FC6A5D }
/* LiteralStringDouble */ .chroma .s2 { color: #FC6A5D }
/* LiteralStringEscape */ .chroma .se { color: #FC6A5D }
/* LiteralStringHeredoc */ .chroma .sh { color: #FC6A5D }
/* LiteralStringInterpol */ .chroma .si { color: #FC6A5D }
/* LiteralStringOther */ .chroma .sx { color: #FC6A5D }
/* LiteralStringRegex */ .chroma .sr { color: #FC6A5D }
/* LiteralStringSingle */ .chroma .s1 { color: #FC6A5D }
/* LiteralStringSymbol */ .chroma .ss { color: #FC6A5D }
/* LiteralNumber */ .chroma .m { color: #D0BF69 }
/* LiteralNumberBin */ .chroma .mb { color: #D0BF69 }
/* LiteralNumberFloat */ .chroma .mf { color: #D0BF69 }
/* LiteralNumberHex */ .chroma .mh { color: #D0BF69 }
/* LiteralNumberInteger */ .chroma .mi { color: #D0BF69 }
/* LiteralNumberIntegerLong */ .chroma .il { color: #D0BF69 }
/* LiteralNumberOct */ .chroma .mo { color: #D0BF69 }
/* Operator */ .chroma .o { color: rgba(255,255,255,.85) }
/* OperatorWord */ .chroma .ow { color: rgba(255,255,255,.85) }
/* Punctuation */ .chroma .p { color: #67B7A4 }
/* Comment */ .chroma .c { color: #6C7986 }
/* CommentHashbang */ .chroma .ch { color: #6C7986 }
/* CommentMultiline */ .chroma .cm { color: #6C7986 }
/* CommentSingle */ .chroma .c1 { color: #6C7986 }
/* CommentSpecial */ .chroma .cs { color: #6C7986 }
/* CommentPreproc */ .chroma .cp { color: #92A1B1 }
/* CommentPreprocFile */ .chroma .cpf { color: #92A1B1 }
/* GenericHeading */ .chroma .gh { color: #52a3ff; }
/* GenericDeleted */ .chroma .gd { color: #e76a72; background-color: rgba(231, 106, 114, 0.05); }
/* GenericInserted */ .chroma .gi { color: #74dc8d; background-color: rgba(71, 209, 104, 0.05); }
